@import url('https://fonts.googleapis.com/css?family=Merienda+One|Montserrat&display=swap');
//@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');


* {
    box-sizing: border-box;
}

$titlefontti: 'Merienda One', cursive;
$otsikkofontti: 'Montserrat', sans-serif;
$otsikkovari: #475472;

%valikkotyylit {
    font-family: $titlefontti;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
    font-family: $titlefontti;
    color: $otsikkovari;
    display: flex;
    justify-content: center;
}

header {
    background: url("../img/chris-abney-116403-unsplash.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-color: transparent;
    background-size: 600px 300px;
}

a {
font-family: $otsikkofontti;
}

.site-name {
    font-family: $titlefontti;
    a {
        font-family: $titlefontti;
        text-decoration: none;
}

.view-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.views-row {
    font-family: $otsikkofontti;
    display: flex;
    width: 33%;
    padding: 10px;
}

.views-field {
    display: flex;
    flex-direction: column;
}

ul.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
    .menu-item {
    display: flex;
    flex-basis: auto;
    padding: 0 20px 0 20px;
}
}

.view-content {
    padding: 20px;
}

#block-planttheme-account-menu {
    display: flex;
    justify-content: flex-end;
}


//#block-planttheme-branding {
  //  @extend %valikkotyylit;
//}
}

