@import url("https://fonts.googleapis.com/css?family=Merienda+One|Montserrat&display=swap");
@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
* {
  box-sizing: border-box; }

#block-planttheme-branding {
  font-family: "Merienda One", cursive;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center; }

header {
  background-color: #0E735E; }

h1 {
  font-family: "Merienda One", cursive;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 2em;
  padding: 20px; }

a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: "Merienda One", cursive; }

ol .li .a {
  color: white; }

.site-name {
  font-family: "Merienda One", cursive; }

nav.breadcrumb {
  background-color: #57615F; }

.node__content {
  display: block;
  width: 50%;
  margin: auto;
  align-content: center;
  font-family: "Montserrat", sans-serif;
  padding: 20px; }

.view-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #F1F2F2; }

.views-row {
  font-family: "Montserrat", sans-serif;
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  width: 33%;
  padding: 10px;
  background-color: white; }

.views-field {
  display: flex;
  flex-direction: column; }

ul.menu {
  display: flex;
  flex-direction: row;
  justify-content: center; }

li.menu-item {
  display: flex;
  flex-basis: auto;
  background-color: white;
  border-radius: 5%;
  padding: 10px 20px 10px 20px;
  margin: 10px; }

.view-content {
  padding: 20px; }

#block-planttheme-account-menu {
  display: flex;
  justify-content: flex-end; }
